---
import VideoPlayer from '../components/VideoPlayer';
import VideoTimeline from '../components/VideoTimeline';
---

<div class="u-center">
    <VideoPlayer client:only="react" />
</div>
<VideoTimeline client:only="react" />

<style is:global>
.u-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
</style>
