---
import VideoPlayer from '../components/VideoPlayer';
import VideoTimeline from '../components/VideoTimeline';
---

<div class="u-center">
    <VideoPlayer client:load />
</div>
<VideoTimeline client:load />

<style>
.u-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
</style>
